<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="add.css">
    <title>โดนแดกออนไลน์ POST Add Number</title>
</head>
<body>
    <h1> <a href="http://localhost:5000/">DonDak Online</a></h1>
    <form action="/addnumber" method="post">
        <div class="id">
            <label>id</label>
            <input type="text" name="id" id="id">
        </div>
        <div class="date">
            <label>date</label>
            <input type="date" name="date" id="date">
        </div>
        <div class="type">
            <label>type</label>
            <input type="text" name="type" id="type">
        </div>
        <div class="number">
            <label>number</label>
            <input type="text" name="number" id="number">
        </div>
        <div class="reward">
            <label>reward</label>
            <input type="text" name="reward" id="reward">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>